@import '../config/functions/functions';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400;1,800&display=swap');

$font-normal: normal;
$font-bold: bold;

$font-family:  'Open Sans', sans-serif;

//size
$font-size-title: rem(16px);
$font-size-text: rem(12px);